.swiper-body {
	position: relative;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.featured-swiper {
	height: 200px;
	width: 100%;
}

.swiper-slide {
	width: 80%;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
}

.featured-swiper .swiper-slide:nth-child(2n) {
	width: 75% !important;
}

.featured-swiper .swiper-slide:nth-child(3n) {
	width: 25% !important;
}

.featured-swiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.featured-swiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	font-size: 12px;
	background: #d3d3d3b8;
	width: 30px;
	height: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.32);
}

.featured-swiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	padding-right: 2px;
	padding-top: 2px;
}

.featured-swiper .swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
	padding-right: -2px;
	padding-top: -2px;
}